{% extends 'basic-structure-w-footer.html' %} {% block title %}
<title>Ver Trueque | Fedeteria</title>
{% endblock %} 
{% block main %}
<div class="border rounded-md bg-gray-100 shadow-md mx-auto flex w-9/12 flex-col items-center justify-around px-2 py-8">
    <div class="container mx-auto p-4">
        <a
        href="/perfil/solicitudesAceptadas"
        class="absolute group -mt-16 ml-0 sm:ml-4 w-fit px-4 py-6 text-gray-400 flex items-center gap-2 hover:underline hover:text-neutral-700"
        ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-5 w-5 group-hover:-translate-x-1 transition-all"
        >
            <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
            />
            <path d="M5 12l14 0" />
            <path d="M5 12l4 4" />
            <path d="M5 12l4 -4" />
        </svg>
        Volver
        </a>
        <!-- Bloque superior (rectángulo horizontal) -->
        <div class="bg-gray-300 rounded-lg p-6 mb-6 text-center">
            <h1 class="text-2xl font-semibold mb-4">Acciones de Trueques</h1>
            {% if trueque.sucursal is none %}
                <a href="/trueques/establecerSucursal/{{trueque.id}}">
                    <button class="bg-orange-300 transition-colors hover:bg-orange-200 font-semibold px-4 py-2 rounded-md mr-2"
                    >
                        Establecer Sucursal
                    </button>
                </a>
            {% endif %}
            <a href = "{% url 'trueques:cancelar_trueque' trueque.id %}">
                <button class="bg-red-200 hover:bg-red-300 font-semibold px-4 py-2 rounded-md">Cancelar Trueque</button>
            </a>
        </div>
        <!-- Contenedor para los dos divs verticales -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Div izquierdo -->
            <div class="bg-gray-300 rounded-lg p-6 text-center">
                <h2 class="font-semibold text-xl">Producto</h2>
                <br>
                <div
                    class="flex md:w-1/2 items-center rounded-lg border border-neutral-200 bg-white p-3"
                    >
                    <img
                        src="/static{{productoAjeno.usuario.usuario.avatar}}"
                        class="w-10 h-10 md:w-10 md:h-10 object-cover object-center ring-2 ring-orange-300 rounded-full"
                    />
                    <p class="ms-3 select-none text-neutral-800">
                        <span class="block text-sm font-semibold">
                        {{productoAjeno.usuario.first_name}} {{productoAjeno.usuario.last_name}}
                        </span>
                    </p>
                </div>
                <div class="py-2">
                    <img
                        src="{{imagenProdAjeno}}"
                        class="w-32 h-32 md:w-60 md:h-60 object-cover object-center rounded-lg"
                    />
                    <h3
                        class="py-2 px-3 font-medium truncate text-center uppercase text-black"
                    >
                        {{productoAjeno.nombre}}
                    </h3>
                    <div
                    class="flex items-center justify-between gap-2 px-3 py-2 bg-neutral-800 group-hover:bg-neutral-800/70 transition-colors border rounded-lg"
                    >
                        <span class="font-bold text-neutral-300">
                            Clase {{productoAjeno.cat_precio.nombre}}
                        </span>
                        <a
                            href="/productos/producto/{{productoAjeno.id}}"
                            class="group/link flex items-center px-2 py-1 text-xs text-orange-600 uppercase transition-colors duration-300 transform bg-orange-200 rounded hover:bg-orange-400 hover:text-orange-900 focus:bg-orange-400 focus:outline-none"
                        >
                            Ver producto
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5 transition-all duration-100 ease-in group-hover/link:translate-x-0.5 group-hover/link:-translate-y-0.5"
                            >
                            <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                            />
                            <path d="M17 7l-10 10" />
                            <path d="M8 7l9 0l0 9" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- Div derecho -->
            <div class="bg-gray-300 rounded-lg p-6 text-center">
                <h2 class="font-semibold text-xl">Tu Producto</h2>
                <div class="py-24">
                    <img
                        src="{{imagenMiProducto}}"
                        class="w-32 h-32 md:w-60 md:h-60 object-cover object-center rounded-lg"
                    />
                    <h3
                        class="py-2 px-3 font-medium truncate text-center uppercase text-black"
                    >
                        {{miProducto.nombre}}
                    </h3>
                    <div
                    class="flex items-center justify-between gap-2 px-3 py-2 bg-neutral-800 group-hover:bg-neutral-800/70 transition-colors border rounded-lg"
                    >
                        <span class="font-bold text-neutral-300">
                            Clase {{miProducto.cat_precio.nombre}}
                        </span>
                        <a
                            href="/productos/producto/{{miProducto.id}}"
                            class="group/link flex items-center px-2 py-1 text-xs text-orange-600 uppercase transition-colors duration-300 transform bg-orange-200 rounded hover:bg-orange-400 hover:text-orange-900 focus:bg-orange-400 focus:outline-none"
                        >
                            Ver producto
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-5 h-5 transition-all duration-100 ease-in group-hover/link:translate-x-0.5 group-hover/link:-translate-y-0.5"
                            >
                            <path
                                stroke="none"
                                d="M0 0h24v24H0z"
                                fill="none"
                            />
                            <path d="M17 7l-10 10" />
                            <path d="M8 7l9 0l0 9" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}