{% extends 'basic-structure-moderacion.html' %}{% block title %}
<title>Trueques en proceso | Moderacion | Fedeteria</title>
{% endblock %} {% block second_navbar %}
<a
  href="/moderacion"
  class="font-semibold text-neutral-400 hover:underline"
>
  Moderacion
</a>

<span class="mx-5 font-bold text-neutral-500"> / </span>

<a
  href="/moderacion/trueques-en-proceso"
  class="font-semibold text-neutral-400 hover:underline"
>
  Trueques en proceso
</a>
{% endblock %} {% block main %}
<div
  class="max-w-[95vw] sm:max-w-5xl w-full border py-8 px-2 sm:px-16 rounded-lg bg-neutral-100 shadow-md"
>
  <h1 class="font-semibold tracking-wide underline text-2xl mb-4">
    Trueques en proceso
  </h1>
  {% if messages %} {% for message in messages %}
  <div>
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div
      class="bg-red-500 text-white p-4 rounded-lg shadow-md"
      role="alert"
    >
      {{ message }}
    </div>
    {% else %}
    <div
      class="bg-green-500 text-white p-4 rounded-lg shadow-md"
      role="alert"
    >
      {{ message }}
    </div>
    {% endif %}
  </div>
  {% endfor %} {% endif %} {% if trueques %}
  <ul
    role="list"
    class=""
  >
    {% for trueque in trueques %}
    <li
      class="relative group flex justify-between gap-x-6 py-5 px-2 flex-wrap transition-all duration-200 ease-in mb-4 rounded-lg bg-neutral-200 hover:bg-neutral-300"
    >
      <div
        class="flex flex-wrap sm:flex-nowrap justify-between basis-full w-full"
      >
        <!-- <div class="flex min-w-0 gap-x-8"> -->
        <div class="grid grid-cols-3 gap-x-8">
          <div class="min-w-0 flex-initial">
            <img
              class="h-32 w-32 flex-none rounded-md bg-neutral-50 object-cover imagen-trueque"
              src="{{ trueque.producto_1.id }}"
              alt="{{ trueque.producto_1.id }}"
            />
            <p
              class="h-6 overflow-hidden text-sm truncate font-semibold leading-6 text-neutral-900"
            >
              {{trueque.producto_1.nombre}}
            </p>
          </div>

          <div class="min-w-0 flex-auto">
            <img
              class="h-32 w-32 flex-none rounded-md object-cover"
              src="/static/public/icons/intercambio.svg"
            />
          </div>

          <div class="min-w-0 flex-initial">
            <img
              class="h-32 w-32 flex-none rounded-md bg-neutral-50 object-cover imagen-trueque"
              src="{{ trueque.producto_2.id }}"
              alt="{{ trueque.producto_2.id }}"
            />
            <p
              class="h-6 overflow-hidden text-sm truncate font-semibold leading-6 text-neutral-900"
            >
              {{trueque.producto_2.nombre}}
            </p>
          </div>
        </div>
        <div
          class="shrink-0 content-end flex flex-row-reverse w-full justify-between sm:w-fit sm:justify-start sm:flex-col sm:items-end pl-4"
        >
          <div class="mt-1 flex items-center gap-x-1.5">
            <p class="text-s leading-5 text-neutral-500">{{trueque.estado}}</p>
          </div>

          <p class="mt-1 text-xs leading-5 text-neutral-500">
            Fecha inicio: {{ trueque.fecha_inicio }}
          </p>
        </div>
      </div>
      <form
        action="/trueques/establecer-como-realizado"
        method="post"
        class="flex w-2/5 gap-2 items-center mt-4"
      >
        {% csrf_token %}

        <input
          type="hidden"
          name="id_trueque"
          value="{{trueque.id}}"
        />

        <button
          type="submit"
          class="group/link flex w-full items-center justify-center gap-2 px-4 py-2 text-base font-medium text-orange-600 transition-all duration-300 transform bg-orange-200 rounded hover:bg-orange-400 hover:text-orange-900 focus:bg-orange-400 focus:outline-none"
        >
          Establecer como Realizado
        </button>
      </form>
      <form
        action="/trueques/establecer-como-no-realizado"
        method="post"
        class="flex w-2/5 gap-2 items-center mt-4"
      >
        {% csrf_token %}

        <input
          type="hidden"
          name="id_trueque"
          value="{{trueque.id}}"
        />

        <button
          type="submit"
          class="group/link flex w-full items-center justify-center gap-2 px-4 py-2 text-base font-medium text-orange-600 transition-all duration-300 transform bg-orange-200 rounded hover:bg-orange-400 hover:text-orange-900 focus:bg-orange-400 focus:outline-none"
        >
          Establecer como No Realizado
        </button>
      </form>
    </li>
    {% endfor %}
    <script>
      async function getImagenProducto(id) {
        try {
          const url = "http://127.0.0.1:8000/api/v1/imgprincipal/" + id
          const response = await fetch(url)
          if (!response.ok) {
            throw new Error("Error en la solicitud")
          }
          //response.text().then((value) => {console.log(value);});
          return response.json()
        } catch (error) {
          console.log(error)
        }
      }

      let imagenes_t = document.getElementsByClassName("imagen-trueque")
      for (let img of imagenes_t) {
        let id = img.alt
        getImagenProducto(id).then((value) => {
          img.src = value.image
          console.log(value.image)
        })
      }
    </script>
  </ul>
  {% else %}
  <div class="min-h-64 py-8 px-8 w-full flex flex-col items-center gap-4">
    <p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.8"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-24 w-24 text-neutral-500"
      >
        <path
          stroke="none"
          d="M0 0h24v24H0z"
          fill="none"
        />
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
        <path d="M9 13h.01" />
        <path d="M15 13h.01" />
        <path d="M11 17h2" />
      </svg>
    </p>
    <h3 class="text-lg font-medium text-neutral-500">
      No hay ningun trueque para mostrar!
    </h3>
  </div>
  {% endif %}
</div>
{% endblock %}
