{% extends 'basic-structure-w-footer.html' %}{% block title %}
<title>Productos publicados | Fedeteria</title>
{% endblock %} {% block main %}
<div class="flex flex-col w-full max-w-[95vw] md:max-w-[90vw] px-4 sm:px-6 lg:px-8">
  <div
    class="flex items-baseline justify-between border-b border-neutral-400 pt-6 pb-8 mb-24"
  >
    <h1 class="text-4xl font-bold tracking-tight text-neutral-900">
      Productos publicados
    </h1>

    <div class="flex items-center gap-4">
      <input
        type="checkbox"
        name="filtrosmenu"
        id="filtrosmenu"
        class="peer/filtrosmenu hidden absolute right-5 top-5"
      />
      <label
        for="filtrosmenu"
        class="group flex gap-1 items-center rounded-md px-4 py-2 text-neutral-800 bg-neutral-300 transition-all duration-100 ease-in peer-checked/filtrosmenu:bg-orange-700 peer-checked/filtrosmenu:text-orange-300 hover:bg-orange-700/70 cursor-pointer"
      >
        <span class="sr-only">Abrir menu de usuario</span>
        <p class="font-medium">Filtros</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class=""
        >
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          />
          <path
            d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"
          />
        </svg>
      </label>

      <!-- background blur -->
      <div
        class="fixed hidden inset-0 z-50 bg-neutral-500/20 backdrop-blur peer-checked/filtrosmenu:flex"
      ></div>
      <label
        for="filtrosmenu"
        class="fixed z-[51] top-0 left-[180%] flex w-8 h-screen transform transition-all cursor-pointer items-center bg-neutral-500/50 hover:bg-neutral-800/50 text-neutral-700 hover:text-neutral-300 peer-checked/filtrosmenu:left-[calc(100%-26rem)]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-8 h-8"
        >
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          />
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          />
          <path d="M15 4v16" />
          <path d="M9 10l2 2l-2 2" />
        </svg>
      </label>
      <!-- sidebar filtros -->
      <aside
        class="pointer-events-none fixed left-[200%] z-50 flex h-screen w-full opacity-100 transition-all peer-checked/filtrosmenu:left-[calc(100%-24rem)]"
      >
        <div
          class="pointer-events-auto fixed top-0 z-50 flex h-screen w-full max-w-[24rem] flex-shrink-0 flex-col gap-1 bg-neutral-800 text-base"
        >
          <form
            action="/productos"
            method="get"
            class="flex flex-1 flex-col justify-between overflow-hidden"
          >
            <section class="space-y-6 overflow-y-auto px-4 py-8 md:px-8">
              <div class="space-y-3">
                <!-- Categorias -->
                <div class="px-4 py-2">
                  <h3 class="-mx-2 -my-3 flow-root">
                    <div
                      class="flex w-full items-center justify-between px-2 py-3"
                    >
                      <span
                        class="font-medium text-lg text-neutral-400 underline"
                      >
                        Categoria
                      </span>
                    </div>
                  </h3>

                  <div class="pt-2 flex flex-col gap-1.5">
                    {% for categoria in categorias %}
                    <div class="space-y-2">
                      <label
                        htmlFor="filter_categorias_{{ categoria.id }}"
                        class="relative flex items-center min-w-[60%] w-fit gap-x-3 cursor-pointer"
                      >
                        {% if categoria.id in filtros.categorias %}
                        <input
                          id="filter_categorias_{{ categoria.id }}"
                          name="categorias"
                          value="{{ categoria.id }}"
                          type="checkbox"
                          class="peer/filter_categorias_{{ categoria.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                          checked
                        />
                        {% else %}
                        <input
                          id="filter_categorias_{{ categoria.id }}"
                          name="categorias"
                          value="{{ categoria.id }}"
                          type="checkbox"
                          class="peer/filter_categorias_{{ categoria.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                        />
                        {% endif %}

                        <p
                          class="text-base font-medium select-none transition-opacity text-neutral-200 peer-checked/filter_categorias_{{ categoria.id }}:text-orange-200 opacity-75 peer-checked/filter_categorias_{{ categoria.id }}:opacity-100"
                        >
                          {{ categoria.nombre }}
                        </p>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- Fin Categorias - Inicio Rango precios -->
                <div class="px-4 py-2">
                  <h3 class="-mx-2 -my-3 flow-root">
                    <div
                      class="flex w-full items-center justify-between px-2 py-3"
                    >
                      <span
                        class="font-medium text-lg text-neutral-400 underline"
                      >
                        Estado Producto
                      </span>
                    </div>
                  </h3>
                  <div class="pt-2 flex flex-col gap-1.5">
                    {% for estado in estados_productos %}
                    <div class="space-y-2">
                      <label
                        htmlFor="filter_estados_{{ estado.id }}"
                        class="relative flex items-center min-w-[60%] w-fit gap-x-3 cursor-pointer"
                      >
                        {% if estado.id in filtros.estados_ids %}
                        <input
                          id="filter_estados_{{ estado.id }}"
                          name="estados"
                          type="checkbox"
                          value="{{ estado.id }}"
                          class="peer/filter_estados_{{ estado.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                          checked
                        />
                        {% else %}
                        <input
                          id="filter_estados_{{ estado.id }}"
                          name="estados"
                          type="checkbox"
                          value="{{ estado.id }}"
                          class="peer/filter_estados_{{ estado.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                        />
                        {% endif %}
                        <p
                          class="flex flex-col text-base font-medium select-none transition-opacity text-neutral-200 peer-checked/filter_estados_{{ estado.id }}:text-orange-200 opacity-75 peer-checked/filter_estados_{{ estado.id }}:opacity-100"
                        >
                          {{ estado.nombre }}
                        </p>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- Fin Rango precios - Inicio Estado Producto -->
                <div class="px-4 py-2">
                  <h3 class="-mx-2 -my-3 flow-root">
                    <div
                      class="flex w-full items-center justify-between px-2 py-3"
                    >
                      <span
                        class="font-medium text-lg text-neutral-400 underline"
                      >
                        Rango precios
                      </span>
                    </div>
                  </h3>
                  <div class="pt-2 flex flex-col gap-1.5">
                    {% for rango in rango_precios %}
                    <div class="space-y-2">
                      <label
                        htmlFor="filter_rango_precios_{{ rango.id }}"
                        class="relative flex items-center min-w-[60%] w-fit gap-x-3 cursor-pointer"
                      >
                        {% if rango.id in filtros.rango_precios_ids %}
                        <input
                          id="filter_rango_precios_{{ rango.id }}"
                          name="rango_precios"
                          type="checkbox"
                          value="{{ rango.id }}"
                          class="peer/filter_rango_precios_{{ rango.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                          checked
                        />
                        {% else %}
                        <input
                          id="filter_rango_precios_{{ rango.id }}"
                          name="rango_precios"
                          type="checkbox"
                          value="{{ rango.id }}"
                          class="peer/filter_rango_precios_{{ rango.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                        />
                        {% endif %}
                        <p
                          class="flex flex-col text-base font-medium select-none transition-opacity text-neutral-200 peer-checked/filter_rango_precios_{{ rango.id }}:text-orange-200 opacity-75 peer-checked/filter_rango_precios_{{ rango.id }}:opacity-100"
                        >
                          Clase {{ rango.nombre }}
                        </p>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- Fin Estado Producto - Inicio Sucursales -->
                <div class="px-4 py-2">
                  <h3 class="-mx-2 -my-3 flow-root">
                    <div
                      class="flex w-full items-center justify-between px-2 py-3"
                    >
                      <span
                        class="font-medium text-lg text-neutral-400 underline"
                      >
                        Sucursales
                      </span>
                    </div>
                  </h3>
                  <div class="pt-2 flex flex-col gap-1.5">
                    {% for sucursal in sucursales %}
                    <div class="space-y-2">
                      <label
                        htmlFor="filter_sucursales_{{ sucursal.id }}"
                        class="relative flex items-center min-w-[60%] w-fit gap-x-3 cursor-pointer"
                      >
                        {% if sucursal.id in filtros.sucursales %}
                        <input
                          id="filter_sucursales_{{ sucursal.id }}"
                          name="sucursales"
                          type="checkbox"
                          value="{{ sucursal.id }}"
                          class="peer/filter_sucursales_{{ sucursal.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                          checked
                        />
                        {% else %}
                        <input
                          id="filter_sucursales_{{ sucursal.id }}"
                          name="sucursales"
                          type="checkbox"
                          value="{{ sucursal.id }}"
                          class="peer/filter_sucursales_{{ sucursal.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                        />
                        {% endif %}
                        <p
                          class="flex flex-col text-base font-medium select-none transition-opacity text-neutral-200 peer-checked/filter_sucursales_{{ sucursal.id }}:text-orange-200 opacity-75 peer-checked/filter_sucursales_{{ sucursal.id }}:opacity-100"
                        >
                          {{ sucursal.localidad }}
                          <span class="text-xs select-none text-neutral-200/70">
                            {{ sucursal.direccion }}
                          </span>
                        </p>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--  Fin Sucursales - Inicio Fecha publicacion -->
                <div class="px-4 py-2">
                  <h3 class="-mx-2 -my-3 flow-root">
                    <div
                      class="flex w-full items-center justify-between px-2 py-3"
                    >
                      <span
                        class="font-medium text-lg text-neutral-400 underline"
                      >
                        Fecha publicacion
                      </span>
                    </div>
                  </h3>

                  <div class="pt-2 flex flex-col gap-1.5">
                    {% for fecha in fecha_publicacion %}
                    <div class="space-y-2">
                      <label
                        htmlFor="filter_fechas_{{ fecha.id }}"
                        class="relative flex items-center min-w-[60%] w-fit gap-x-3 cursor-pointer"
                      >
                        {% if fecha.id == filtros.fechas_id %}
                        <input
                          id="filter_fechas_{{ fecha.id }}"
                          name="fechas"
                          type="radio"
                          value="{{ fecha.id }}"
                          class="peer/filter_fechas_{{ fecha.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                          checked
                        />
                        {% else %}
                        <input
                          id="filter_fechas_{{ fecha.id }}"
                          name="fechas"
                          type="radio"
                          value="{{ fecha.id }}"
                          class="peer/filter_fechas_{{ fecha.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                        />
                        {% endif %}
                        <p
                          class="flex flex-col text-base font-medium select-none transition-opacity text-neutral-200 peer-checked/filter_fechas_{{ fecha.id }}:text-orange-200 opacity-75 peer-checked/filter_fechas_{{ fecha.id }}:opacity-100"
                        >
                          {{ fecha.value }}
                        </p>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--  Fin Fecha publicacion - Inicio Puntajes -->
                <div class="px-4 py-2">
                  <h3 class="-mx-2 -my-3 flow-root">
                    <div
                      class="flex w-full items-center justify-between px-2 py-3"
                    >
                      <span
                        class="font-medium text-lg text-neutral-400 underline"
                      >
                        Puntajes usuarios
                      </span>
                    </div>
                  </h3>

                  <div class="pt-2 flex flex-col gap-1.5">
                    {% for puntaje in puntajes %}
                    <div class="space-y-2">
                      <label
                        htmlFor="filter_puntajes_{{ puntaje.id }}"
                        class="relative flex items-center min-w-[60%] w-fit gap-x-3 cursor-pointer"
                      >
                        {% if puntaje.id == filtros.puntajes_id %}
                        <input
                          id="filter_puntajes_{{ puntaje.id }}"
                          name="puntajes"
                          type="radio"
                          value="{{ puntaje.id }}"
                          class="peer/filter_puntajes_{{ puntaje.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                          checked
                        />
                        {% else %}
                        <input
                          id="filter_puntajes_{{ puntaje.id }}"
                          name="puntajes"
                          type="radio"
                          value="{{ puntaje.id }}"
                          class="peer/filter_puntajes_{{ puntaje.id }} h-4 w-4 rounded border-neutral-300 accent-orange-400 focus:ring-orange-600 cursor-pointer"
                        />
                        {% endif %}
                        <p
                          class="flex flex-row items-center text-base font-medium select-none transition-opacity text-neutral-200 peer-checked/filter_puntajes_{{ puntaje.id }}:text-orange-200 opacity-75 peer-checked/filter_puntajes_{{ puntaje.id }}:opacity-100"
                        >
                          {{ puntaje.value }}
                          <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="mt-0.5 shrink-0 h-4 w-4 fill-orange-200 stroke-orange-400 inline-flex"
                        >
                          <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                          />
                          <path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          />
                        </svg>
                        </p>
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--  Fin Puntajes -->
              </div>
            </section>

            <!-- botones de reset y submit -->
            <div
              class="flex flex-shrink-0 flex-col gap-2 px-5 py-3 md:px-10 border-t"
            >
              <div class="grid justify-between grid-cols-2 gap-4">
                <!-- <button
                  class="flex transform gap-2 justify-center items-center rounded-md px-3 py-2 text-neutral-300 bg-neutral-700 transition-all duration-100 ease-in hover:bg-neutral-500 cursor-pointer"
                  type="reset"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-5 w-5"
                  >
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                  </svg>

                  <span class="text-sm font-medium">Restaurar</span>
                </button> -->
                <a
                  class="flex transform gap-2 justify-center items-center rounded-md px-3 py-2 text-neutral-300 bg-neutral-700 transition-all duration-100 ease-in hover:bg-neutral-500 cursor-pointer"
                  href="/productos"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-5 w-5"
                  >
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
                  </svg>

                  <span class="text-sm font-medium">Restaurar</span>
                </a>

                <button
                  class="flex transform gap-2 justify-center items-center rounded-md px-3 py-2 text-neutral-800 bg-orange-300 transition-all duration-100 ease-in hover:bg-orange-400/70 cursor-pointer"
                  type="submit"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-5 w-5"
                  >
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M11.18 20.274l-2.18 .726v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v3"
                    />
                    <path d="M15 19l2 2l4 -4" />
                  </svg>

                  <span class="text-sm font-medium">Aplicar</span>
                </button>
              </div>
            </div>
            <!-- fin botones reset y submit -->
          </form>
        </div>
      </aside>
      <!--  -->
    </div>
  </div>
  {% if productos %}
  <div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-16 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
  >
    {% for producto in productos %}
    <div
      class="group flex flex-col items-center justify-center w-full max-w-sm mx-auto"
    >
      <div
        class="w-full h-80 bg-neutral-300 bg-center bg-cover rounded-xl shadow-lg"
        style="
          background-image: url('/media/{{ producto.imagen.image }}')"
      ></div>

      <div
        class="max-w-full min-w-64 origin-bottom w-full -mt-10 group-hover:-mt-[calc(192px+40px)] transition-all overflow-hidden rounded-xl shadow-md bg-neutral-700/60 backdrop-blur"
      >
        <div
          class="flex w-full flex-wrap gap-2 items-center text-neutral-300 h-0 px-2 group-hover:h-48 group-hover:py-0.5 overflow-hidden transition-all"
        >
          <div class="flex w-full gap-2 items-center border-b pb-2">
            <img
              class="object-cover mx-2 rounded-md w-14 shrink-0 h-14 ring-4 ring-neutral-300"
              src="/static{{producto.producto.usuario.usuario.avatar}}"
              alt=""
            />

            <div class="flex flex-col mx-2">
              <h1 class="font-semibold truncate text-neutral-200">
                {{producto.producto.usuario.first_name}}
                {{producto.producto.usuario.last_name}}
              </h1>
              <span class="flex items-start text-sm font-semibold">
                {% if producto.producto.usuario.usuario.calificacion is None or producto.producto.usuario.usuario.num_calificaciones == 0 %}
                Sin calificacion
                {% else %}
                {{producto.producto.usuario.usuario.calificacion}}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="mt-0.5 shrink-0 h-4 w-4 fill-orange-200 stroke-orange-400"
              >
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                />
                <path
                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                />
                </svg>
                                
              <span class="opacity-60 text-xs ml-2">
                - {{producto.producto.usuario.usuario.num_calificaciones}} calificaciones
              </span>
                {% endif %}
                
              
            
              </span>
              <span class="flex items-start text-sm font-semibold">
                {{producto.producto.usuario.usuario.sucursal.localidad}}
              </span>


            </div>
          </div>
          <div class="flex flex-col w-full gap-2">
            <p class="flex items-center gap-1 text-sm font-semibold">
              <span
              class="text-neutral-200/70 text-xs">Categoria(s):</span> 
              {% for tag in producto.tags %}

              <span
              class="bg-neutral-800 text-neutral-200 rounded-md text-xs h-fit px-2 py-0.5 ml-1"
          >
              {{ tag }}

            </span>
              {% endfor %}
            </p>
            <p class="flex items-center gap-1 text-sm font-semibold">
              <span
              class="text-neutral-300/70 text-xs">Estado del producto:</span> {{producto.producto.estado_producto}}
            </p>
            <p class="flex items-center gap-1 text-sm font-semibold">
              <span
              class="text-neutral-300/70 text-xs">Fecha publicacion:</span> {{producto.tiempo_publicacion}}
            </p>
          </div>
        </div>

        <h3
          class="relative py-2 px-3 font-medium truncate text-center uppercase text-white"
        >
          {{producto.producto.nombre}}
          <span class="absolute right-0 mr-1 top-1/2 -translate-y-[50%] flex items-center w-fit md:hidden">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-4 h-4 rotate-180 transition-all group-hover:-mt-1 group-hover:opacity-0"
          >
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            />
            <path d="M6 9l6 6l6 -6" />
          </svg>
          </span>
        </h3>

        <div
          class="flex items-center justify-between gap-2 px-3 py-2 bg-neutral-800 group-hover:bg-neutral-800/70 transition-colors"
        >
          <span class="font-bold text-neutral-300">
            {% if producto.producto.cat_precio is None %}
            <!--  -->
            ---
            <!--  -->
            {% else %}
            <!--  -->
            clase {{ producto.producto.cat_precio.nombre }}
            <!--  -->
            {% endif %}</span
          >

          <a
            href="/productos/producto/{{producto.producto.id}}"
            class="group/link flex items-center px-2 py-1 text-xs text-orange-600 uppercase transition-colors duration-300 transform bg-orange-200 rounded hover:bg-orange-400 hover:text-orange-900 focus:bg-orange-400 focus:outline-none"
          >
            Ver producto
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-5 h-5 transition-all duration-100 ease-in group-hover/link:translate-x-0.5 group-hover/link:-translate-y-0.5"
            >
              <path
                stroke="none"
                d="M0 0h24v24H0z"
                fill="none"
              />
              <path d="M17 7l-10 10" />
              <path d="M8 7l9 0l0 9" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- More products... -->
  </div>

  {% else %}
  <div
    class="max-w-[95vw] mx-auto sm:max-w-5xl w-full py-8 px-2 sm:px-16 rounded-lg"
  >
    <div class="min-h-64 py-8 px-8 w-full flex flex-col items-center gap-2">
      <p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.8"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-24 w-24 text-neutral-600"
        >
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          />
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
          <path d="M9 13h.01" />
          <path d="M15 13h.01" />
          <path d="M11 17h2" />
        </svg>
      </p>
      <h3 class="text-lg font-medium text-neutral-600">
        Te pedimos disculpas pero no encontramos publicaciones activas.
      </h3>
      <p class="-mt-1 mb-2 text-base text-neutral-500">
        Podes publicar un articulo que ya no uses y aparecer primero!
      </p>
      <a
        class="hidden transform items-center rounded-lg bg-orange-300 px-3 py-2 text-neutral-700 transition-colors duration-300 hover:bg-orange-100 md:flex"
        href="/perfil/cargarProducto"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5"
        >
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"
          />
          <path d="M9 12l6 0" />
          <path d="M12 9l0 6" />
          <path
            d="M4 6v-1a1 1 0 0 1 1 -1h1m5 0h2m5 0h1a1 1 0 0 1 1 1v1m0 5v2m0 5v1a1 1 0 0 1 -1 1h-1m-5 0h-2m-5 0h-1a1 1 0 0 1 -1 -1v-1m0 -5v-2m0 -5"
          />
        </svg>

        <span class="mx-2 text-sm font-medium">Publicar un producto</span>
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
